<% content_for :welcome_toolbar do %>
	<%= link_to "<span>Lista de pedidos</span>", messages_path(:q => "#pedido"), :class => "s16-lorry" %>
<% end %>

<%= render :partial => "shared/flash_messages" %>

<% content_for :main_body do %>
<div id="stickies" class="section first">
	<h3>Notas Digitalmente Adhesivas</h3>

	<div id="messages">
		<%= render :partial => "messages/message", :collection => @messages %>
	</div>

	<% remote_form_for(Message.new) do |f| %>

		<div class="avatars">
			<% Usuario.activos.reject {|u| u == @current_user}.each do |usuario| %>
				<a href="javascript:void(0);" rel="<%= usuario.usuario %>" title="<%= usuario.nombre %>"><img src="http://www.gravatar.com/avatar/<%= usuario.email_hashed %>/?d=identicon&amp;s=40" /></a>
			<% end %>
		</div>

		<%= f.text_area :body, :size => "36x1" %>

		<div class="tags">
			<a href="javascript:void(0);" rel="pedido">#pedido</a>,
			<a href="javascript:void(0);" rel="stock">#stock</a>,
			<a href="javascript:void(0);" rel="cita">#cita</a>
		</div>

	  <p class="commit">
	    <%= f.submit "Agregar esta nota" %>
	  </p>

		<div class="clear"></div>
	<% end %>
</div>
<% end %>

<% unless @notes.empty? %>
	<div id="actividad_reciente" class="section <%= print_once "first" %>">
		<h3>Actividad reciente</h3>

		<%= render :partial => "shared/notes", :object => @notes %>
	</div>
<% end %>

<div id="servicos_concluidos" class="section <%= print_once "first" %>">
	<h3>Servicios concluidos</h3>

	<%= render :partial => "servicios/servicio", :collection => @servicios_concluidos, :locals => {:hide => [:status]} %>
</div>
<br />

<% content_for :sidebar do %>
	<img id="wall_e" src="/images/wall_e.png" width="200" alt="" />
<% end %>
