title: Huesos - User interface


<% content_for :content_header do %>
	<h1>H1 Big Title</h1>
	<h2>H2 Awesome description</h2>

	<ul>
		<li><small style="font: 12px 'Lucida Grande';">✓</small> Beautiful dummy text <span class="amp">&amp;</span> Features list</li>
		<li><small style="font: 12px 'Lucida Grande';">✓</small> Another item</li>
	</ul>

	<%= header_image_tag "http://dummyimage.com/480x300/000/fff.png" %>

<% end %>

<div class="column grid_12">
	<h1>Título H1</h1>

	<div class="row">
		<div class="column grid_8">
			<p>
				Texto normal. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere vehicula eros, sit amet interdum
				mi egestas sed. <em>Vestibulum iaculis <strong>purus</strong> (em)</em> nec felis faucibus ultricies. <strong>Nam ut erat lectus</strong>, in pharetra justo. In
				convallis ipsum non nisi mattis vel sagittis neque interdum. <%= link_to "Donec (link)", "/" %> at neque nunc, ut laoreet massa. Morbi lorem purus,
				accumsan sed ornare ut, porttitor in lorem. Morbi dui elit, vestibulum nec bibendum at, laoreet lobortis nulla.
			</p>
		</div>

		<div class="column grid_4 centered">
			<%= image_tag "/resources/huesos/flor.png", :size => "290x130" %>
		</div>
	</div>
</div>


<!-- BIG -->
<hr class="column grid_12" />

<div class="column grid_12 centered">
	<p class="x-large">
		<strong class="highlight">Texto gigante.</strong> <span class="discreet">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
		Nullam posuere <a href="#">vehicula</a> eros.
	</p>
</div>

<hr class="column grid_12" />


<!-- 3 Columnas -->
<div class="column grid_4">
	<h4>Título H4</h4>
	<p class="small">
		<strong>Texto pequeño.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere vehicula eros,
		sit amet interdum mi egestas sed. Vestibulum iaculis purus nec felis faucibus ultricies.
	</p>
</div>

<div class="column grid_4">
	<h4>Título H4</h4>
	<p class="small">
		<del>Texto pequeño.</del> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
		ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
		ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	</p>
</div>

<div class="column grid_4">
	<h4>Título H4</h4>
	<p class="small">
		<strong>Texto pequeño.</strong> Lorem ipsum dolor sit amet, adipiscing elit. Nullam posuere vehicula eros,
		sit amet interdum mi egestas sed. Vestibulum purus nec felis faucibus ultricies.
	</p>
</div>

<hr class="column grid_12" />

<!-- 3 Columnas con imagen -->
<div class="column grid_4 centered">
	<h4>Título H4</h4>
	<%= image_tag "/resources/huesos/picture.png", :size => "128x128", :class => "with_margin" %>
	<p class="small">
		<strong>Texto pequeño.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis faucibus ultricies.
	</p>
</div>

<div class="column grid_4 centered">
	<h4>Título H4</h4>
	<%= image_tag "/resources/huesos/picture.png", :size => "128x128", :class => "with_margin" %>
	<p class="small">
		<strong>Texto pequeño.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis faucibus ultricies.
	</p>
</div>

<div class="column grid_4 centered">
	<h4>Título H4</h4>
	<%= image_tag "/resources/huesos/picture.png", :size => "128x128", :class => "with_margin" %>
	<p class="small">
		<strong>Texto pequeño.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis faucibus ultricies.
	</p>
</div>


<!-- Small text -->
<div class="column grid_12">
	<p class="x-small discreet">
		x-small, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
		aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco irure dolor in dolore eu fugiat nulla pariatur. Excepteur sint occaecat
		cupidatat non proident, sunt in culpa
	</p>
</div>

<hr class="column grid_12" />

<!-- 4 Columnas con heading regular -->
<div class="column grid_3">
	<h6 class="regular uppercase">H6.regular.uppercase</h6>
	<p class="small">
		<strong>Texto pequeño.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere vehicula eros,
		sit amet interdum mi egestas sed. Vestibulum faucibus ultricies.
	</p>
</div>

<div class="column grid_3">
	<h6 class="regular uppercase">Título Regular</h6>
	<p class="small">
		<strong>Texto pequeño.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere vehicula eros,
		sit amet interdum mi egestas sed. Vestibulum faucibus ultricies.
	</p>
</div>

<div class="column grid_3">
	<h6 class="regular uppercase">Título Regular</h6>
	<p class="small">
		<strong>Texto pequeño.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere vehicula eros,
		sit amet interdum mi egestas sed. Vestibulum faucibus ultricies.
	</p>
</div>

<div class="column grid_3">
	<h6 class="regular uppercase">Título Regular</h6>
	<p class="small">
		<strong>Texto pequeño.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere vehicula eros,
		sit amet interdum mi egestas sed. Vestibulum faucibus ultricies.
	</p>
</div>

<hr class="column grid_12" />

<!-- Parrafo grande con bloque informativo a un lado -->
<div id="test" class="column grid_6">

	<%= title_tag "H3.regular.uppercase", :class => "regular uppercase", :img => "/resources/huesos/star.png" %>

	<% code_tag do %>
		<%%= title_tag "Título", :h => "6", :class => "regular uppercase", :img => "/resources/huesos/picture_48.png", :size => "48x48" %>
	<% end %>

	<p class="large">
		Texto grande (p.large). Fusce venenatis vehicula mollis. Pellentesque quis lacus sed nunc lacinia volutpat eu at tortor. Sed sodales
		mattis augue eget eleifend. Pellentesque non magna a mauris pellentesque dictum vel at est. Ut porta commodo erat, eget
		congue nisi lobortis non. Aenean mauris nibh, sollicitudin in laoreet quis, accumsan et urna.
	</p>

</div>

<div class="column grid_6">
	<% frame_tag do %>
		<h4 class="regular">H4.regular</h4>
		<p>Texto normal.Lorem ipsum dolor sit amet, consetur adipiscing elit. Nullam posuere vehicula eros, sitet interdum mi egestas sed.</p>
	<% end %>

	<blockquote>
		<p>Quote, Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
	</blockquote>
</div>

<hr class="column grid_12" />

<div class="column grid_12">
	<% code_tag do %>
		<hr class="column grid_12" />
	<% end %>
</div>

<!-- Container -->
<div class="column grid_6">
	<% container_tag :img => "/resources/huesos/picture_48.png", :size => "48x48" do %>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit.

		<ul class="standard">
			<li>Sed do eiusmod tempor incididunt ut labore et dolore</li>
			<li>Ut enim ad minim veniam, quis nostrud exercitation</li>
		</ul>
	<% end %>
</div>

<div class="column grid_6">
	<% container_tag :img => "/resources/huesos/picture_48.png", :size => "48x48" do %>
		<p class="without_margin large">Sunt in culpa mollit anim id est laborum</p>
	<% end %>

	<% code_tag do %>
		<%% container_tag :img => "/resources/huesos/picture_48.png", :size => "48x48" do %>
			<p class="without_margin large">Sunt in culpa mollit anim id est laborum</p>
		<%% end %>
	<% end %>

</div>

<hr class="column grid_12" />

<!-- Datalist con viñeta a dos columnas -->
<div class="column grid_12">
	<h2>Título H2</h2>

	<div class="row">
		<div class="column grid_6">
			<dl class="bullet bookmark">
				<dt class="regular">Título regular</dt>
				<dd>
					<p class="small">Texto pequeño. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere vehicula eros,
						sit amet interdum mi egestas sed. Vestibulum iaculis purus nec felis faucibus ultricies. Nam ut erat lectus, in
						pharetra justo. In convallis ipsum non nisi mattis vel sagittis neque interdum
					</p>
				</dd>
			</dl>
		</div>

		<div class="column grid_6">
			<dl class="bullet bookmark">
				<dt class="regular">Título regular</dt>
				<dd>
					<p class="small">Texto pequeño. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere vehicula eros,
						sit amet interdum mi egestas sed. Vestibulum iaculis purus nec felis faucibus ultricies. Nam ut erat lectus, in
						pharetra justo. In convallis ipsum non nisi mattis vel sagittis neque interdum
					</p>
				</dd>
			</dl>
		</div>
	</div>

</div>

<hr class="column grid_12" />

<!-- 4 Imagenes con marco -->
<div class="column grid_3 centered">
	<% frame_tag do %>
		<%= image_tag "/resources/huesos/picture.png", :size => "128x128" %>
	<% end %>
</div>

<div class="column grid_3 centered">
	<% frame_tag do %>
		<%= image_tag "/resources/huesos/picture.png", :size => "128x128" %>
	<% end %>
</div>

<div class="column grid_3 centered">
	<% frame_tag :blue do %>
		<%= image_tag "/resources/huesos/picture.png", :size => "128x128" %>
	<% end %>
</div>

<div class="column grid_3 centered">
	<% frame_tag do %>
		<%= image_tag "/resources/huesos/picture.png", :size => "128x128" %>
	<% end %>
</div>

<hr class="column grid_12" />

<!-- Texto grande -->
<div class="column grid_12">
	<% frame_tag :blue do %>
		<p class="large">
			<strong>Texto grande.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere vehicula eros.
		</p>
	<% end %>

	<% code_tag do %>
		<%% frame_tag :blue do %>
			<p class="large">
				<strong>Texto grande.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere vehicula eros.
			</p>
		<%% end %>
	<% end %>

</div>

<hr class="column grid_12" />

<!-- Lista -->
<div class="column grid_6">
	<ul class="feature_list">
		<li>
			<h6 class="regular uppercase">Título Regular (h6.regular.uppercase)</h6>
			<p class="small">
				Texto pequeño. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere vehicula eros, sit amet
				interdum mi egestas sed.
			</p>
		</li>

		<li>
			<h6 class="regular uppercase">Título Regular</h6>
			<p class="small">
				Texto pequeño. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere vehicula eros, sit amet
				interdum mi egestas sed.
			</p>
		</li>

		<li>
			<h6 class="regular uppercase">Título Regular</h6>
			<p class="small">
				Texto pequeño. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere vehicula eros, sit amet
				interdum mi egestas sed.
			</p>
		</li>
	</ul>
</div>

<div class="column grid_6 centered">
	<%= image_tag "/resources/huesos/picture_256.png", :size => "256x256" %>
</div>

<hr class="column grid_12" />


<!-- Colores y DLs con viñeta -->
<div id="colors" class="column grid_6">

	<div class="row">
		<div class="column grid_2">
			<span class="blue_light">Blue light</span>
			<span class="blue">Blue</span>
			<span class="blue_dark">Blue dark</span>
		</div>

		<div class="column grid_2">
			<span class="green">Green</span>
			<span class="red">Red</span>
			<span class="orange">Orange</span>
			<span class="pink">Pink</span>
		</div>

		<div class="column grid_2">
			<span class="gray_light">Gray light</span>
			<span class="gray">Gray</span>
			<span class="gray_dark">Gray dark</span>
		</div>
	</div>
</div>

<div class="column grid_6">
	<dl class="bullet bookmark">
		<dt>Título</dt>
		<dd>
			<p class="small">
				Texto pequeño. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere vehicula eros.
			</p>
		</dd>
	</dl>

	<dl class="bullet bookmark">
		<dt>Título</dt>
		<dd>
			<p class="small">
				Texto pequeño. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere vehicula eros.
			</p>
		</dd>
	</dl>

	<dl class="bullet bookmark">
		<dt>Título</dt>
		<dd>
			<p class="small">
				Texto pequeño. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere vehicula eros.
			</p>
		</dd>
	</dl>
</div>

<div class="clear"></div>


<!-- Titulares y su jerarquía  -->
<div class="column grid_3">
	<% frame_tag do %>
		<h1>Título H1</h1>
		<h2>Título H2</h2>
		<h3>Título H3</h3>
		<h4>Título H4</h4>
		<h5>Título H5</h5>
		<h6>Título H6</h6>
	<% end %>
</div>

<div class="column grid_4">
	<% frame_tag do %>
		<h1 class="regular">Título H1.regular</h1>
		<h2 class="regular">Título H2.regular</h2>
		<h3 class="regular gray">Título H3.regular.gray</h3>
		<h4 class="regular green">Título H4.regular.green</h4>
		<h5 class="regular">Título H5.regular</h5>
		<h6 class="regular uppercase">Título H6.regular</h6>
	<% end %>
</div>

<div class="column grid_5">
	<% frame_tag :blue do %>
		<h1><%= link_to "Título H1 con link", "/" %></h1>
		<h2 class="regular"><%= link_to "Título H2.regular con link", "/" %></h2>
		<h3><%= link_to "Título H3 con link", "/" %></h3>
		<h4 class="regular"><%= link_to "Título H4.regular con link", "/" %></h4>
		<h5><%= link_to "Título H5 con link", "/" %></h5>
		<h6 class="regular"><%= link_to "Título H6.regular con link", "/" %></h6>
	<% end %>
</div>

<div class="clear"></div>

<!-- Misc -->
<div class="column grid_6">
	<ul class="standard">
		<li><span class="highlight">Lorem ipsum dolor</span> sit amet</li>
		<li>Consectetur adipisicing elit</li>
		<li>Sed do eiusmod tempor incididunt ut labore et dolore</li>
		<li>Ut enim ad minim veniam, quis nostrud exercitation</li>
	</ul>
	<br />

	<%= ver_mas_tag "#" %>
	<%= mas_informacion_tag "#" %>
	<%= button_tag "Button.small.blue", "#", :class => "small blue" %>
	<%= button_tag "Button.small.red", "#", :class => "small red" %>
	<%= button_tag "Button.big.gray", "#", :class => "big gray" %>

  <%= button_tag "Generic button", "#" %>

	<div class="clear">&nbsp;</div>
</div>

<div class="column grid_6">
	<ul class="with_bullets">
		<li><span class="highlight">Lorem ipsum dolor</span> sit amet</li>
		<li>Consectetur adipisicing elit</li>
		<li>Sed do eiusmod tempor incididunt<br /> ut labore et dolore</li>
		<li>Ut enim ad minim veniam, quis nostrud exercitation</li>
	</ul>
</div>


<% content_for :head do %>
	<style type="text/css" media="screen">
		div.image {
			opacity: 0.9;
			-moz-opacity: 0.9;
			filter:alpha(opacity=90);
		}

		#colors span {
			display: block;
			padding-left: 10px;
			font-size: 24px;
			font-weight: bold;
		}
		
		dl.bookmark {
			background: url("/resources/huesos/bookmark.png") no-repeat;
		}
		
    /* CodeRay */
    .CodeRay {
    	position: relative;
      background-color: #232323;
      border: 1px solid black;
      font-family: 'Courier New', 'Terminal', monospace;
      color: #E6E0DB;
      padding: 3px 5px;
      overflow: auto;
      font-size: 12px;
      margin-bottom: 20px;
    	pre {
        margin: 0px;
        padding: 0px;
      	line-height: 130%;
      }
      .an { color:#E7BE69 }                      /* html attribute */
      .c  { color:#BC9358; font-style: italic; } /* comment */
      .ch { color:#509E4F }                      /* escaped character */
      .cl { color:#FFF }                         /* class */
      .co { color:#FFF }                         /* constant */
      .fl { color:#A4C260 }                      /* float */
      .fu { color:#FFC56D }                      /* function */
      .gv { color:#D0CFFE }                      /* global variable */
      .i  { color:#A4C260 }                      /* integer */
      .il { background:#151515 }                 /* inline code */
      .iv { color:#D0CFFE }                      /* instance variable */
      .pp { color:#E7BE69 }                      /* doctype */
      .r  { color:#CB7832 }                      /* keyword */
      .rx { color:#A4C260 }                      /* regex */
      .s  { color:#A4C260 }                      /* string */
      .sy { color:#6C9CBD }                      /* symbol */
      .ta { color:#E7BE69 }                      /* html tag */
      .pc { color:#6C9CBD }                      /* boolean */
    }
	</style>
<% end %>